<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection" />
  </configSections>
  <dotless minifyCss="false" cache="true" web="false" />
  <nancyFx>
    <bootstrapper assembly="StringConvert.WebClient" type="StringConvert.WebClient.Bootstrapper, StringConvert.WebClient" />
  </nancyFx>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="Nancy.Hosting.Aspnet" />
    </assemblies>
    <namespaces>
      <add namespace="System.Xml" />
    </namespaces>
  </razor> 
  <system.web>
    <compilation debug="true" targetFramework="4.0" />    
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>    
  </system.webServer>  
</configuration>